---
http_interactions:
- request:
    method: get
    uri: https://api.velocity.codeclimate.com/v1/roles?page%5Bsize%5D=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json
      Status:
      - 200 OK
      Etag:
      - W/"3a1b57dc1bee9414b1ef66809692a47e"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"2","type":"roles","links":{"self":"https://api.velocity.codeclimate.com/v1/roles/2"},"attributes":{"name":"Manager","description":"Access
        to metrics about their teams and team members","system":true,"readonly":true}},{"id":"5252","type":"roles","links":{"self":"https://api.velocity.codeclimate.com/v1/roles/5252"},"attributes":{"name":"Sales
        Engineer Homework","description":null,"system":false,"readonly":false}},{"id":"5287","type":"roles","links":{"self":"https://api.velocity.codeclimate.com/v1/roles/5287"},"attributes":{"name":"Testing
        a Limited CTO Role","description":null,"system":false,"readonly":false}},{"id":"5519","type":"roles","links":{"self":"https://api.velocity.codeclimate.[...]
