---
http_interactions:
- request:
    method: get
    uri: https://api.velocity.codeclimate.com/v1/people?filter%5Bemail%5D%5Bcontains%5D=vera@testcompany.com&filter%5Bname%5D%5Bcontains%5D=Vera%20Protopopova&page%5Bsize%5D=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json
      Status:
      - 200 OK
      Etag:
      - W/"4ef3f84e7fc0b3c56ce555f53956f488"
    body:
      encoding: UTF-8
      string: '{"data":[],"meta":{"responseCount":0,"totalCount":0}}'
  recorded_at: Fri, 14 Jan 2022 14:38:00 GMT
recorded_with: VCR 6.0.0
