---
http_interactions:
- request:
    method: get
    uri: https://api.velocity.codeclimate.com/v1/people?filter%5Bemail%5D%5Bcontains%5D=vera@codeclimate.com&filter%5Bname%5D%5Bcontains%5D=Vera%20Protopopova&page%5Bsize%5D=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json
      Status:
      - 200 OK
      Etag:
      - W/"35ae34c2ec63fbbc09ab3d292bfe1eb6"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"486976","type":"people","links":{"self":"https://api.velocity.codeclimate.com/v1/people/486976"},"attributes":{"name":"Vera
        Protopopova","email":"vera@codeclimate.com","createdAt":"2020-02-18T20:15:33.601Z","hasUser":true,"endDate":null,"startDate":null,"visible":true,"lastActiveAt":"2022-01-13T22:30:34.000Z"},"relationships":{"teams":{"links":{"related":"https://api.velocity.codeclimate.com/v1/people/486976/teams"}}}}],"meta":{"responseCount":1,"totalCount":1}}'
  recorded_at: Fri, 14 Jan 2022 14:37:59 GMT
recorded_with: VCR 6.0.0
