---
http_interactions:
- request:
    method: get
    uri: https://api.velocity.codeclimate.com/v1/teams?page%5Bsize%5D=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json
      Status:
      - 200 OK
      Etag:
      - W/"00e949278f719ae6e66f5fc1e198ab22"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"6968","type":"teams","links":{"self":"https://api.velocity.codeclimate.com/v1/teams/6968"},"attributes":{"name":"Quality","createdAt":"2020-02-21T18:55:03Z","sync":null},"relationships":{"people":{"links":{"related":"https://api.velocity.codeclimate.com/v1/teams/6968/people"}},"parent":{"links":{"related":"https://api.velocity.codeclimate.com/v1/teams/6968/parent"}}}},{"id":"7540","type":"teams","links":{"self":"https://api.velocity.codeclimate.com/v1/teams/7540"},"attributes":{"name":"Velocity","createdAt":"2020-03-30T01:08:35Z","sync":null},"relationships":{"people":{"links":{"related":"https://api.velocity.codeclimate.com/v1/teams/7540/people"}},"parent":{"links":{"related":"https://api.velocity.codeclimate.com/v1/teams/7540/parent"}}}},{"id":"37769","type":"teams","links":{"self":"https://api.velocity.codeclimate.com/v1/teams/37769"},"attributes":{"name":"los-teros","createdAt":"2021-11-30T16:44:48Z","sync":null},"relationships":{"people":{"links":{"related":"https://api.velocity.codeclimate.com/v1/teams/37769/people"}},"parent":{"links":{"related":"https://api.velocity.codeclimate.com/v1/teams/37769/parent"}}}},{"id":"46057","type":"teams","links":{"self":"https://api.velocity.codeclimate.com/v1/teams/46057"},"attributes":{"name":"Neo","createdAt":"2022-01-14T04:30:01Z","sync":null},"relationships":{"people":{"links":{"related":"https://api.velocity.codeclimate.com/v1/teams/46057/people"}},"parent":{"links":{"related":"https://api.velocity.codeclimate.com/v1/teams/46057/parent"}}}}],"meta":{"responseCount":4,"totalCount":4}}'
  recorded_at: Fri, 14 Jan 2022 04:30:36 GMT
recorded_with: VCR 6.0.0
