---
http_interactions:
- request:
    method: post
    uri: https://api.velocity.codeclimate.com/v1/invitations
    body:
      encoding: UTF-8
      string: '{"data":{"type":"invitations","attributes":{"name":"Victor A.","email":"vantoniazzi+1@codeclimate.com","jobFunction":"Software
        Engineer"},"relationships":{"roles":{"data":[{"type":"roles","id":2}]}}}}'
    headers:
      Authorization:
      - Bearer <TOKEN>
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json
      Status:
      - 201 Created
      Etag:
      - W/"0631d4ae4aac5dc2ab005814c479a973"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"39655","type":"invitations","attributes":{"name":"Victor
        A.","email":"vantoniazzi+1@codeclimate.com","jobFunction":"Software Engineer"},"relationships":{"roles":{"links":{"related":"https://api.velocity.codeclimate.com/v1/invitations/39655/roles"}},"teams":{"links":{"related":"https://api.velocity.codeclimate.com/v1/invitations/39655/teams"}}}}}'
  recorded_at: Fri, 14 Jan 2022 14:25:32 GMT
recorded_with: VCR 6.0.0
